.navscrolled-motiondiv {
  width: 100%;
  z-index: 2;
  position: fixed;
  @media screen and (max-width: 1080px) {
    display: none;
 }
}

.app__scrollednavbar {
    width: 100%;
    font-family: var(--font-base);
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.7);
    // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);

    
  }
  
  .app__scrollednavbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    img {
      height: 80px;
  
      @media screen and (min-width: 2000px) {
        height: 100px;
      }
    }
  }
  
  .app__scrollednavbar-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
    list-style: none;
  
    .dropdown {
  
    }
  
    .dropdown-options {
      display: none;
      overflow: auto;
      position: absolute;
      background-color: rgb(255, 255, 255,.7);
      border-radius: 5px;
      box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
      transition: 3s linear;
      z-index: 50S;
    }
  
    .dropdown:hover .dropdown-options {
      display: block;
      width: max-content;
    }
  
    li {
      margin: 0 1rem;
      cursor: pointer;
      flex-direction: row;
  
      a {
        color: var(--black-color);
        position: relative;
        text-decoration: none;
        flex-direction: column;
  
        text-transform: uppercase;
        font-weight: 500;
  
  
        &:hover {
          color: var(--secondary-color);
        }
  
        &:hover:after {
          transform: scaleX(0.65)
        }
  
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #c00651;
          transition: transform 0.25s ease-out
        }
      }
  
    }
  
    @media screen and (max-width: 1080px) {
      display: none;
    }
  }